<template>
    <tr class="table-success">
        <td scope="row" colspan="6">
            <div class="my-3 mx-3">
                <form @submit.prevent="update(this.$refs.dropzone.dropzone)" >
                    <div class="row">
                        <div class="col-6">
                            <div class="col mt-2">
                                <label class="form-label">position</label>
                                <input v-model="form.position" type="number" class="form-control form-control-sm">
                            </div>
                            <div class="col mt-2">
                                <label class="form-label">title</label>
                                <textarea  v-model="form.title" class="form-control form-control-sm" rows="3"></textarea>
                            </div>
                            <div class="col mt-2">
                                <label class="form-label">subtitle</label>
                                <textarea v-model="form.subtitle" class="form-control form-control-sm" rows="3" ></textarea>
                            </div>
                            <div class="col mt-2">
                                <label class="form-label">comment</label>
                                <input v-model="form.comment" type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col mt-2">
                                <div class="form-check">
                                    <label class="form-check-label">visible</label>
                                    <input v-model="form.visible" type="checkbox" class="form-check-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <dropzone-component ref="dropzone"/>
                        </div>
                    </div>
                    {{errors}}
                    <!-- <div class="row">
                        <div class="col-6 offset-3">
                            <errors-component :errors ="errors"/>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-4 offset-4 my-2">
                            <button :disabled="form.processing"
                            type="submit" class="btn btn-primary mt-2 w-100">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </td>
    </tr>
</template>

<script>
import ErrorsComponent from './X-ErrorsComponent.vue';
import DropzoneComponent from './X-DropzoneComponent.vue';
import { router } from '@inertiajs/vue3'
import { toast } from 'vue3-toastify';
import { reactive } from 'vue'
import 'vue3-toastify/dist/index.css';
export default {
    emits:['close'],
    props:{
        card: Object,
        errors: Object,
    },
    components:{
        ErrorsComponent,
        DropzoneComponent,
    },
    mounted(){
        this.card.images.forEach(image => {
            let file = {id:image.id, name: image.name, size: 1}
            this.$refs.dropzone.dropzone.displayExistingFile(file, image.url)
        });
        
        this.$refs.dropzone.dropzone.on('removedfile', (file) => {
            this.form.image_ids_for_delete.push(file.id)
        })
    },
    data(){
        return{
            form : reactive({
                id: this.card.id,
                title : this.card.title,
                subtitle : this.card.subtitle,
                comment : this.card.comment,
                images : null,
                position : this.card.position,
                visible :  Boolean(this.card.visible),
                image_ids_for_delete: null,
            }),
        }
    },
    methods:{
        update(dropzone){
            this.form.images = dropzone.getAcceptedFiles()
            
            router.post(route('admin.cards.update', this.card.id),{
                preserveScroll: true,
                forceFormData: true,
                onSuccess: () => {
                    emit('close', null)
                    toast.success("Update successful", {
                        autoClose: 1000,
                })},
                onError: () => 
                    toast.error("Update error", {
                        autoClose: 1000,
                    }),
                _method: 'put',

                title : this.form.title,
                subtitle : this.form.subtitle,
                comment : this.form.comment,
                images : this.form.images,
                position : this.form.position,
                visible :  this.form.visible,
                image_ids_for_delete: this.form.image_ids_for_delete,
            })
        }
    }
}
</script>

<style scoped>
    .custom-img{
        min-width:70px; 
        overflow: hidden;
    }
    .x:hover{
        cursor: pointer;
    }
</style>