<template>
    <div class="row mb-1">
        <div class="d-flex justify-content-center">
            <Link class="btn btn-success w-25" :href="route('admin.cards.index')"><i class="bi bi-arrow-left"></i></Link>
        </div>
    </div>
</template>

<script>
import {Link} from '@inertiajs/vue3'
export default {
    components:{
        Link
    },
}
</script>

<style>

</style>