<template>
    <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-lg-down modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form @submit.prevent="store(this.$refs.dropzone.dropzone)">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>position</label>
                                            <input v-model="form.position" type="number" class="form-control form-control-sm" placeholder="Enter the position">
                                        </div>
                                        <div class="form-group mt-1">
                                            <label class="form-label">title</label>
                                            <textarea v-model="form.title" class="form-control form-control-sm" rows="3" placeholder="Enter the title"></textarea>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">visible</label>
                                            <input v-model="form.visible" type="checkbox" class="form-check-input">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                        <label class="form-label">subtitle</label>
                                            <textarea v-model="form.subtitle" class="form-control form-control-sm" rows="3" placeholder="Enter the subtitle" ></textarea>
                                        </div>
                                        <div class="form-group mt-1">
                                            <label>comment</label>
                                            <input v-model="form.comment" type="text" class="form-control form-control-sm" placeholder="Enter the comment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="min-width">
                                <dropzone-component class="mt-3" ref="dropzone"/>
                            </div>
                            <div class="col-12 mt-1">
                                <errors-component :errors ="form.errors"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import DropzoneComponent from '@/Components/Admin/Card/X-DropzoneComponent.vue'
import {useForm,Link} from '@inertiajs/vue3'
import ErrorsComponent from '../X-ErrorsComponent.vue'

import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

export default {
    components:{
        Link, 
        DropzoneComponent, 
        ErrorsComponent
    },
    setup() {
        const form = useForm({
            title : null,
            subtitle : null,
            comment : null,
            position : null,
            images : null,
            visible : true,
        });
        
        function store(dropzone){    
            form.images = dropzone.getAcceptedFiles()
            form.post(route('admin.cards.store'),{
                onSuccess: () => {
                    
                    document.getElementById('closeModal').click(),

                    toast.success("Create successful", {
                        autoClose: 1000,
                    }),

                    //Object.keys(form.data()).forEach(field => form.defaults(field, null));
                    dropzone.removeAllFiles(true)
                    form.reset()
                },
                onError: () => 
                    toast.error("Create error", {
                        autoClose: 1000,
                    })
            })
        }
        return {form, store};
    }
}
</script>

<style>

</style>