<template>
    <div ref="dropzone" id="dropzone" class="dropzone dropzone-custom text-center">
        <i class="fs-2 bi bi-download"></i>
    </div>
</template>

<script>
import Dropzone from 'dropzone'

export default {
    props:{
        images: String,
    },
    data(){
        return{
            dropzone: null,
        }
    },
    mounted(){
        this.dropzone = new Dropzone(this.$refs.dropzone, {
            url: "/#",
            autoProcessQueue: false,
            addRemoveLinks: true,
            acceptedFiles: '.jpeg, .jpg, .png',
        })
    },
}
</script>

<style>
    .dz-success-mark,
    .dz-error-mark,
    .dz-details{
        display: none;
    }
    .dropzone-custom{
        border-radius: 10px;
        background-color: #a8d8ff;
        border: 1px solid #1b98f7;
        color: #003357;
    }
    .dropzone-custom i{
        display: block;
    }
    .dz-image{
        display: flex;
        justify-content: center;
    }
    .dz-preview,.dz-image-preview{
        display: inline-block;
        margin-left: 2px;
    }
    .dz-image{
        max-width: 75px;
    }
</style>