<template>
    <tr class="table-success">
        <td scope="row" colspan="6">
            <div class="my-3 mx-3">
                <form @submit.prevent="update(this.$refs.dropzone.dropzone, this.imageIdsForDelete)" >
                    <div class="row">
                        <div class="col-6">
                            <div class="col mt-2">
                                <label class="form-label">position</label>
                                <input v-model="form.position" type="number" class="form-control form-control-sm">
                            </div>
                            <div class="col mt-2">
                                <label class="form-label">title</label>
                                <textarea  v-model="form.title" class="form-control form-control-sm" rows="3"></textarea>
                            </div>
                            <div class="col mt-2">
                                <label class="form-label">subtitle</label>
                                <textarea v-model="form.subtitle" class="form-control form-control-sm" rows="3" ></textarea>
                            </div>
                            <div class="col mt-2">
                                <label class="form-label">comment</label>
                                <input v-model="form.comment" type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col mt-2">
                                <div class="form-check">
                                    <label class="form-check-label">visible</label>
                                    <input v-model="form.visible" type="checkbox" class="form-check-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <dropzone-component ref="dropzone"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <errors-component :errors ="form.errors"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 offset-4 my-2">
                            <button :disabled="form.processing"
                            type="submit" class="btn btn-primary mt-2 w-100">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </td>
    </tr>
</template>

<script>
import {useForm} from '@inertiajs/vue3'
import ErrorsComponent from '../X-ErrorsComponent.vue';
import DropzoneComponent from './X-DropzoneComponent.vue';

import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    emits:['close'],
    props:{
        card: Object,
    },
    components:{
        ErrorsComponent,
        DropzoneComponent,
    },
    data(){
        return{
            imageIdsForDelete : []
        }
    },
    mounted(){
        this.card.images.forEach(image => {
            let file = {id:image.id, name: image.name, size: 1}
            this.$refs.dropzone.dropzone.displayExistingFile(file, image.url)
        });
        
        this.$refs.dropzone.dropzone.on('removedfile', (file) => {
            this.imageIdsForDelete.push(file.id)
        })
    },
    setup(props, {emit}) {
        const form = useForm({
            id_card: props.card.id,
            title : props.card.title,
            subtitle : props.card.subtitle,
            comment : props.card.comment,
            images : null,
            position : props.card.position,
            visible :  Boolean(props.card.visible),
            image_ids_for_delete: null,
        });

        function update(dropzone, imageIdsForDelete){

            form.image_ids_for_delete = imageIdsForDelete
            form.images = dropzone.getAcceptedFiles()
            
            form.post(route('admin.cards.update'),{
                preserveScroll: true,
                onSuccess: () => {
                    emit('close', null)
                    toast.success("Update successful", {
                        autoClose: 1000,
                })},
                onError: () => 
                    toast.error("Update error", {
                        autoClose: 1000,
                    })
            })
        }

        return {form, update};
    },
}
</script>

<style scoped>
    .custom-img{
        min-width:70px; 
        overflow: hidden;
    }
    .x:hover{
        cursor: pointer;
    }
</style>