<template>
    <tr class="table-success">
        <th scope="row"></th>
        <td colspan="5">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3 mt-3">
                <div class="card mb-3">
                    <div v-if="card.images.length > 0" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        {{console.log(card)}}
                        <div class="carousel-inner">
                            <div 
                            v-for="(image, k) in card.images" :key="k"
                            :class="{'active' : k === 0}"
                            class="carousel-item">
                                <img :src="image.url" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{card.title}}
                        <p v-if="card.comment != null" class="card-text text-center"><small class="text-muted">{{card.comment}}</small></p>
                        </h5>
                        <p class="card-text text-center">{{card.subtitle}}</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</template>

<script>
export default {
    props:{
        card: Object,
    },
}
</script>

<style scoped>
    .carousel {
        height: 400px !important;
        overflow: hidden;
        border-radius: 3% 3% 2% 2%;
    }
    .carousel-inner {
        overflow: visible;
    }
    .carousel-inner img {
        object-fit: cover;
        object-position: 50% 50%;
        max-width: none !important;
        min-height: 400px;
        min-width: 100%;
        position: absolute;
    }
    .img-cart{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .card-body{
        line-height: normal;
        min-height: 120px;
    }
    .card{
        box-shadow: 3px 3px 3px 0px rgba(196,43,218,0.3);
        filter: drop-shadow(3px 3px 3px rgba(196,43,218,0.3));
        transition: all 0.5s;
        border:none;
        border-radius: 3%;    
    }
    .card:hover{
        box-shadow: 1px 1px 1px 0px rgba(196,43,218,0.3);
        filter: drop-shadow(1px 1px 1px rgba(196,43,218,0.3));
        transition: all 0.5s;
    }
</style>