<template>
    <Head :title="title" />
    
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success mb-2 w-25" data-bs-toggle="modal" data-bs-target="#ModalCreate">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    
    <modal-create-component id="ModalCreate"/>
    <div v-if="cards.data.length > 0" class="row">
        <div class="col-12">
            <table class="table table-custom table-bordered table-sm table-responsive align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">position</th>
                        <th scope="col">title</th>
                        <th scope="col">subtitle</th>
                        <th scope="col">comment</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody v-for="card in cards.data" :key="card.id" >
                    <tr :class="{'table-danger' : card.visible === 0}">
                        <th scope="row">{{card.id}}</th>
                        <td>{{card.position}}</td>
                        <td>{{card.title}}</td>
                        <td>{{card.subtitle}}</td>
                        <td>{{card.comment}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <inertia-link @click.prevent="show(card.id)" class="btn btn-success"><i class="bi bi-eye"></i></inertia-link>
                                <inertia-link @click.prevent="edit(card.id)" class="btn btn-warning"><i class="bi bi-brush"></i></inertia-link>
                                <inertia-link @click.prevent="destroy(card.id)" class="btn btn-danger"><i class="bi bi-trash"></i></inertia-link>
                            </div>
                        </td>
                    </tr>
                    <edit-component
                    @close="EditId = $event"
                    v-if="card.id === this.EditId" 
                    :card="card" />
                    <show-component
                    v-if="card.id === this.ShowId" 
                    :card="card" />
                </tbody>
            </table> 
        </div>
    </div>

    <div v-else class="row">
        <div class="col-4 offset-4">
            <div class="alert alert-warning" role="alert">
                the list is empty
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center mt-2">
            <Pagination :links="links" />
        </div>
    </div>

</template>

<script>
    import MainLayout from '../../Layouts/Admin/Main.vue'
    import {Head} from '@inertiajs/vue3'
    import Pagination from "../../Components/Admin/X-Pagination.vue"
    import EditComponent from '@/Components/Admin/Card/X-EditComponent.vue'
    import ShowComponent from '@/Components/Admin/Card/X-ShowComponent.vue'
    import ModalCreateComponent from '@/Components/Admin/Card/X-CreateModalComponent.vue'
    import { toast } from 'vue3-toastify';
    import 'vue3-toastify/dist/index.css';

    export default{
        components:{
            Head, 
            Pagination, 
            EditComponent, 
            ShowComponent, 
            ModalCreateComponent,
        },
        layout: MainLayout,
        props:{
            cards: Array,
            title: String,
            links: Array,
        },
        data(){
            return{
                EditId: null,
                ShowId: null,
            }
        },
        methods:{
            destroy(id){
                if(confirm('Вы уверены?')){
                    this.$inertia.delete(this.route('admin.cards.destroy', id))
                    toast.success("Delete successful", {
                        autoClose: 1000,
                    });
                }
            },
            // create(){
            //     this.$inertia.get(this.route('admin.cards.create'))
            // },
            edit(id){
                if(this.EditId === id)
                {
                    this.EditId = null
                }
                else
                {
                    this.EditId = id
                    this.ShowId = null
                }
            },
            show(id){
                if(this.ShowId === id)
                {
                    this.ShowId = null
                }
                else
                {
                    this.ShowId = id
                    this.EditId = null
                }
            },
        },
    }
</script>

<style>
</style>