<template>
    <div v-if="!isEmptyObject(errors)" class="mt-1 alert alert-danger d-flex flex-column">
        <span v-for="(error, k) in errors" :key="k">
            {{error}}
        </span>
    </div>
</template>

<script>
export default {
    props:{
        errors: JSON
    },
    methods:{
        isEmptyObject(obj) {
            return !Object.keys(obj).length;
        }
    }
}
</script>

<style>

</style>