<template>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Hello, {{ $page.props.auth.user.name }}</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a :href="route('index')" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <Link :href="route('admin.cards.index')" class="nav-link"
                    :class="$page.props.route === 'admin.cards.index' ? 'active' : ''">Cards</Link>
                </li>
                <li class="nav-item">
                    <Link :href="route('admin.users.index')" class="nav-link"
                    :class="$page.props.route === 'admin.users.index' ? 'active' : ''">Users</Link>
                </li>
                <li class="nav-item">
                    <Link class="btn btn-danger" :href="route('logout')" method="post" as="button">
                        Log Out
                    </Link>
                </li>
            </ul>
        </header>
</template>

<script>
import {Link} from '@inertiajs/vue3'
export default {
        components:{
            Link, 
        },
}
</script>

<style>

</style>