<template>
    <nav v-if="links.length > 3">
        <ul class="pagination">
            <li v-for="(link, k) in links" :key="k" class="page-item">
                <Link 
                    class="page-link" 
                    :class="{'active' : link.active, 'disabled' : link.url === null}"
                    :href="link.url" 
                    :disabled="link.url === null"
                    v-html="link.label"
                />
            </li>
        </ul>
    </nav>
</template>

<script>
import {Link} from '@inertiajs/vue3'
export default {
    props:{
        links: Array,
    },
    components:{
        Link, 
    },
}
</script>

<style>

</style>