<template>
    <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-lg-down modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form @submit.prevent="store">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col mt-1">
                                            <label class="form-label">name</label>
                                            <input v-model="form.name" type="text" class="form-control form-control-sm">
                                        </div>
                                        <div class="col mt-1">
                                            <label class="form-label">email</label>
                                            <input v-model="form.email" type="email" class="form-control form-control-sm">
                                        </div>
                                        <div class="col mt-1">
                                            <label class="form-label">password</label>
                                            <input v-model="form.password" type="password" class="form-control form-control-sm">
                                        </div>
                                        <div class="col mt-1">
                                            <div class="form-check">
                                                <label class="form-check-label">isAdmin</label>
                                                <input v-model="form.isAdmin" type="checkbox" class="form-check-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1">
                                <errors-component :errors ="form.errors"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {useForm,Link} from '@inertiajs/vue3'
import ErrorsComponent from '../X-ErrorsComponent.vue'
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

export default {
    components:{
        Link, 
        ErrorsComponent
    },
    setup() {
        const form = useForm({
            email : null,
            isAdmin : false,
            name : null,
            password : null,
        });
        
        function store(){    
            form.post(route('admin.users.store'),{
                onSuccess: () => {
                    document.getElementById('closeModal').click(),
                    toast.success("Create successful", {
                        autoClose: 1000,
                    }),
                    form.reset()
                },
                onError: () => 
                    toast.error("Update error", {
                        autoClose: 1000,
                    })
            })
        }
        return {form, store};
    }
}
</script>

<style>

</style>