<template>
    <tr class="table-success">
        <td scope="row" colspan="6">
            <div class="my-3 mx-3">
                <form @submit.prevent="update" >
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="col-6">
                                <div class="col mt-1">
                                    <label class="form-label">name</label>
                                    <input v-model="form.name" type="text" class="form-control form-control-sm">
                                </div>
                                <div class="col mt-1">
                                    <label class="form-label">email</label>
                                    <input v-model="form.email" type="email" class="form-control form-control-sm">
                                </div>
                                <div class="col mt-1">
                                    <label class="form-label">password</label>
                                    <input v-model="form.password" type="password" class="form-control form-control-sm">
                                </div>
                                <div class="col mt-1">
                                    <div class="form-check">
                                        <label class="form-check-label">isAdmin</label>
                                        <input v-model="form.isAdmin" type="checkbox" class="form-check-input">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <errors-component :errors ="form.errors"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 offset-4 my-2">
                            <button :disabled="form.processing"
                            type="submit" class="btn btn-primary mt-2 w-100">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </td>
    </tr>
</template>

<script>
import {useForm} from '@inertiajs/vue3'
import ErrorsComponent from '../X-ErrorsComponent.vue';
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
export default {
    emits:['close'],
    props:{
        user: Object,
    },
    components:{
        ErrorsComponent,
    },
    setup(props, {emit}) {
        const form = useForm({
            id: props.user.id,
            name : props.user.name,
            email : props.user.email,
            isAdmin : Boolean(props.user.isAdmin),
            password : null,
        });

        function update(){
            form.patch(route('admin.users.update',props.user.id),{
                preserveScroll: true,
                onSuccess: () => {
                    emit('close', null)
                    toast.success("Update successful", {
                        autoClose: 1000,
                })},
                onError: () => 
                    toast.error("Update error", {
                        autoClose: 1000,
                    })
            })
        }

        return {form, update};
    },
}
</script>

<style scoped>
    .custom-img{
        min-width:70px; 
        overflow: hidden;
    }
    .x:hover{
        cursor: pointer;
    }
</style>