<template>
    <Head :title="title" />
    
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success mb-2 w-25" data-bs-toggle="modal" data-bs-target="#ModalCreate">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    
    <modal-create-component id="ModalCreate"/>
    <div v-if="users.length > 0" class="row">
        <div class="col-12">
            <table class="table table-custom table-bordered table-sm table-responsive align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">email</th>
                        <th scope="col">isAdmin</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody v-for="user in users" :key="user.id" >
                    <tr :class="{'table-danger' : user.visible === 0}">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td :class="Boolean(user.isAdmin) ? 'bg-success' :'bg-danger'">{{Boolean(user.isAdmin)}}</td>
                        <td>
                            <div class="btn-group w-100" role="group">
                                <inertia-link @click.prevent="edit(user.id)" class="btn btn-warning"><i class="bi bi-brush"></i></inertia-link>
                                <inertia-link @click.prevent="destroy(user.id)" class="btn btn-danger"><i class="bi bi-trash"></i></inertia-link>
                            </div>
                        </td>
                    </tr>
                     <edit-component
                    @close="EditId = $event"
                    v-if="user.id === this.EditId" 
                    :user="user" />
                </tbody>
            </table> 
        </div>
    </div>

    <div v-else class="row">
        <div class="col-4 offset-4 mt-3">
            <div class="alert alert-warning" role="alert">
                the list is empty
            </div>
        </div>
    </div>

</template>

<script>
    import MainLayout from '../../Layouts/Admin/Main.vue'
    import {Head} from '@inertiajs/vue3'
    import EditComponent from '@/Components/Admin/User/X-EditComponent.vue'
    import ModalCreateComponent from '@/Components/Admin/User/X-CreateModalComponent.vue'
    import { toast } from 'vue3-toastify';
    import 'vue3-toastify/dist/index.css';

    export default{
        components:{
            Head, 
            ModalCreateComponent,
            EditComponent, 
        },
        layout: MainLayout,
        props:{
            users: Array,
            title: String,
        },
        methods:{
            destroy(id){
                if(confirm('Вы уверены?')){
                    this.$inertia.delete(this.route('admin.users.destroy', id))
                    toast.success("Delete successful", {
                        autoClose: 1000,
                    });
                }
            },
            create(){
                this.$inertia.get(this.route('admin.users.create'))
            },
            edit(id){
                if(this.EditId === id)
                    this.EditId = null
                else
                    this.EditId = id
            },
        },
        data(){
            return{
                EditId: null,
            }
        },
    }
</script>

<style>
</style>