<template>
    <div class="container">
        
        <header-component></header-component>
        <div class="mt-3">
            <slot />
        </div>

    </div>
</template>

<script>
   
    import HeaderComponent from '../../Components/Admin/X-HeaderComponent.vue'
    export default{
        components:{
            HeaderComponent
        },
    }
</script>

<style scoped>

</style>


